.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(45rem,1fr));
    text-align: center;
    grid-gap: 3rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.card{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.829);
    filter: blur(25%);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}




/* section */

section{
    margin: 5rem 0;
}